/* You can add global styles to this file, and also import other style files */

@import 'styles/multimap-variables';


mfe-navigation-mets-layout-component {

  --color-primary: red !important;
  .c-header {background: red !important; }
  button { padding: 8px; color: white; background: red}
}