@import 'utils/mixins';

// Typography
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;500;700;900&display=swap');

  * {
    font-family: 'Nunito', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: var(--multimap-widget-color-black);
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    letter-spacing: 0.5px;
    color: var(--multimap-widget-color-black);
  }

  p, li {
    font-size: 16px;
    line-height: 24px;
    color: var(--multimap-widget-color-black);
  }

  h1 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 500;
    @include screen-mobile-and-tablet {
      font-size: 30px;
      line-height: 38px;
    }
  }

  h2 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
    @include screen-mobile-and-tablet {
      font-size: 26px;
      line-height: 34px;
    }
  }

  h3 {
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
    @include screen-mobile-and-tablet {
      font-size: 24px;
      line-height: 32px;
    }
  }

  h4 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 0.67em;
    font-weight: 400;
    @include screen-mobile-and-tablet {
      font-size: 22px;
      line-height: 30px;
    }
  }

  h5 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 0.83em;
    font-weight: 400;
  }

  h6 {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 1em;
    font-weight: 400;
  }

  small {
    font-size: 12px;
    line-height: 18px;
  }

  a {
    color: var(--multimap-widget-color-primary-01);
    display: contents;
    cursor: pointer;
    text-decoration: none;
  }

  i {
    display: contents;
  }

  span {
    display: contents;
  }

  b, strong {
    font-weight: 600;
    display: contents;
  }


